
.contact-info h3{
    position: fixed;
    top: 0px;
    right: 0px;
    font-family: serif;
    color: red;
    width: 200px;
   
}

.contact-info p{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 100px;
}

table, th, td {
  border: 3px solid blue;
}

table{
    border-collapse: collapse;
    width: 50%;
    margin: auto;
}
td {
  height: 50px;
  vertical-align: bottom;
}

th{
    text-align: left;
}